<button (click)="exportAsXLSX()">test 1</button>


<!--<div class="row">-->
    <!--<div class="col-xs-12 col-12">-->
        <!--<pagination [totalItems]="155" [rotate]="rotate" [maxSize]="maxSize"></pagination>-->
    <!--</div>-->
<!--</div>-->
<div class="d-flex justify-content-center">
<pagination [boundaryLinks]="true"
            [totalItems]=""
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
</div>

<!--<div class="text-center">-->
    <!--<h1>ngx-pagination live demo</h1>-->
    <!--<h4><small><a href="https://github.com/michaelbromley/ngx-pagination">GitHub Repo</a></small></h4>-->
    <!--<p>A bare-bones demo for your experimenting / bug-reproducing pleasure.</p>-->
<!--</div>-->
<!--<div class="list">-->
    <!--<ul>-->
        <!--<li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>-->
    <!--</ul>-->

    <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
<!--</div>-->
