
<!--<p>-->
  <!--Exporting an excel file of type .xslx !!!-->
<!--</p>-->
<!--<p>Export as XLSX by clicking the below button</p>-->

<!--<button (click)="exportAsXLSX()">-->
	<button (click)="exportAsXLSX()">exportAsXLSX</button>
<!--<button (click)="download()">download</button>-->

<!--DATA-->
<!--</button>-->
<!--<table>-->
	<!--<tr>-->
		<!--<td>Eid</td>-->
		<!--<td>Ename</td>-->
		<!--<td>Esal</td>-->
		<!--<td>Esal</td>-->

	<!--</tr>-->
	<!--<tr *ngFor="let item of data">-->
		<!--<td>{{item.eid}}</td>-->
		<!--<td>{{item.ename}}</td>-->
		<!--<td>{{item.esal}}</td>-->
		<!--<td>{{item.esal}}</td>-->
	<!--</tr>-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->
<br>
<br>
<app-test1></app-test1>
